<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<collector_collectorcheckout>
            <version>
                <base>2.0.4</base>
                <gateways>2.0.3</gateways>
                <iframe>2.0.20</iframe>
            </version>
        </collector_collectorcheckout>
	</default>
</config>
