<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<collector_collectorcheckout>
            <version>
                <base>2.0.3</base>
                <gateways>2.0.2</gateways>
                <iframe>2.0.15</iframe>
            </version>
        </collector_collectorcheckout>
	</default>
</config>
